<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->

<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<%= image_tag flat.owner_picture, class: "avatar-large" %>
<p><%= flat.owner_name %></p>
<h1><%= flat.description %></h1>
<p><%= flat.city %></p>
<p><%= flat.summary %></p>
<% if flat.wifi %>
<p>yes</p>
<% else %>
<p>no</p>
<% end %>

<% flat.flat_rating.times do %>
<i class="fa fa-star yellowstar"></i>
<% end %>
<% (5-flat.flat_rating).times do %>
<i class="fa fa-star"></i>
<% end %>
<p><%= flat.maximumnumber_of_guests %></p>



<%= image_tag flat.picture %>
